@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: "custom-font";
  src: url("../public/fonts/carltine-font/CarltineMedium-MVnzn.ttf");
  font-family: "custom-font2";
  src: url("../public/fonts/carltine-font/CarltineThin-vm6V4.ttf");
}
